.App {
  text-align: center;
}
.search-form {
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 10vh;
}
.search-bar {
  width: 30%;
  border-radius: 8px;
  border: 3px solid rgb(178, 252, 178);
  padding: 5px;
  margin-right: 10px;
  font-size: medium;
}
.search-button {
  background-color: mintcream;
  font-size: medium;
  border-radius: 8px;
  border: none;
  padding: 8px;
}
.maincontent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading {
  letter-spacing: 8px;
  color: black;
  align-self: center;
}
